.sprite { background-image: url(~sprite.png);background-size: 2493px 1986px;}
.sprite-back { width: 26px; height: 43px; background-position: -2450px -929px; }
.sprite-declare_bg { width: 750px; height: 1528px; background-position: 0px 0px; }
.sprite-declare_box { width: 621px; height: 838px; background-position: -770px 0px; }
.sprite-declare_cloth_icon_selected { width: 190px; height: 67px; background-position: -2296px -1113px; }
.sprite-declare_cloth_icon_unselect { width: 190px; height: 67px; background-position: -2296px -1200px; }
.sprite-declare_hair_icon_selected { width: 190px; height: 67px; background-position: -2296px -1287px; }
.sprite-declare_hair_icon_unselect { width: 190px; height: 67px; background-position: -2296px -1026px; }
.sprite-declare_next_btn { width: 134px; height: 137px; background-position: -2296px -869px; }
.sprite-declare_selected { width: 66px; height: 66px; background-position: -2421px -665px; }
.sprite-declare_shadow { width: 127px; height: 65px; background-position: -2296px -1374px; }
.sprite-declare_switch_sex { width: 105px; height: 184px; background-position: -2296px -665px; }
.sprite-declare_woman { width: 187px; height: 698px; background-position: -2089px 0px; }
.sprite-home_btn_bg { width: 583px; height: 260px; background-position: -1411px -829px; }
.sprite-home_btn { width: 546px; height: 185px; background-position: -1411px -1109px; }
.sprite-home_title { width: 603px; height: 437px; background-position: -770px -858px; }
.sprite-music { width: 60px; height: 57px; background-position: -2421px -751px; }
.sprite-select_arrow { width: 35px; height: 40px; background-position: -2450px -869px; }
.sprite-select_slide_tip { width: 277px; height: 78px; background-position: -427px -1818px; }
.sprite-select_title { width: 659px; height: 250px; background-position: 0px -1548px; }
.sprite-select_women { width: 197px; height: 645px; background-position: -2296px 0px; }
.sprite-select1_slogan1 { width: 705px; height: 199px; background-position: -679px -1548px; }
.sprite-select1_slogan2 { width: 407px; height: 168px; background-position: 0px -1818px; }
.sprite-select2_slogan1 { width: 656px; height: 230px; background-position: -1411px -579px; }
.sprite-select2_slogan2 { width: 428px; height: 179px; background-position: -770px -1315px; }
.sprite-select3_slogan1 { width: 658px; height: 278px; background-position: -1411px 0px; }
.sprite-select3_slogan2 { width: 381px; height: 186px; background-position: -1404px -1548px; }
.sprite-select4_slogan1 { width: 658px; height: 261px; background-position: -1411px -298px; }
.sprite-select4_slogan2 { width: 375px; height: 208px; background-position: -1411px -1314px; }