.sprite { background-image: url(~sprite.png);background-size: 527px 460px;}
.sprite-monster { width: 446px; height: 460px; background-position: 0px 0px; }
.sprite-rain { width: 61px; height: 102px; background-position: -466px 0px; }